# Secrets
configs/client_secret.json
configs/token.json
configs/schedule.json
configs/config.json
configs/names.json

# Virtual Environment
venv/
.env

# Python caching
__pycache__/
*.pyc

# Local Data and Logs
thumbnails/
reports/
*.txt
!requirements.txt
*.log

# IDE files
.vscode/
.idea/

